<template name="fieldSmallControllGroup">
	<div class="control-group">
		<label class="control-small-label" for="inputEmail">{{label}}</label>
		<div class="controls-small">
			{{{controll}}}			
		</div>
</template>